Repository Junhyung-Choi/Algorithm, pull requests merged in 2023-10, with the labels that each got.

#33 [BFS] 동전챙기기 (삼성 공채 모의 1-1)
  풀이/Juhee/repeat/BOJ/[다익스트라]녹색옷입은애가젤다지.js
  풀이/Juhee/repeat/BOJ/[크루스칼]도시분할계획.js
  풀이/Juhee/repeat/코드트리/[BFS]삼성공채모의1-1.js
  풀이/Juhee/todo/[코드트리]삼성공채모의1.js
Labels: Javascript, NORMAL, CODETREE

#35 [DP] 팰린드롬 (10942)
  풀이/Juhee/repeat/BOJ/[DP]팰린드롬.js
  풀이/Juhee/todo/[DP]팰린드롬.py
  풀이/Juhee/todo/todo.md
Labels: Javascript, HARD, BOJ

#36 [유니온파인드] 문제 추가
  풀이/Jihoon/todo/[유니온파인드]거짓말.py
  풀이/Juhee/todo/[유니온파인드]거짓말.js
  풀이/Junhyeong/todo/[유니온파인드]거짓말.py
  풀이/Minseon/todo/[유니온파인드]거짓말.cpp
Labels: BOJ

#34 [DP] 팰린드롬?(10942)
  풀이/Junhyeong/done/BOJ/[DP]팰린드롬.py
  풀이/Junhyeong/done/BOJ/[유니온파인드]거짓말.py
  풀이/Junhyeong/todo/BOJ/[DP]팰린드롬.py
  풀이/Junhyeong/todo/[유니온파인드]거짓말.py
Labels: Python, NORMAL, BOJ
